* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.headerlogo {
  width: 100%;
  height: 400px;
}
header {
  /* border: 2px solid black; */
  width: 100%;
  margin: 10px;
}

.headnav {
  /* border: 2px solid black; */
  background-color: #E0E0E0;
  color: navy;
  padding: 20px;
  padding-left: 173px;
  position: relative;
  bottom: 688px;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}

a:link {
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: row;
  padding: 15px;
  padding-left: 173px;
  position: relative;
  bottom: 675px;
}

.intropic {


}
.intro-text {
  padding-left: 50px;
}

.intro-text p {
  font-size: 20px;
  padding: 5px;

}
 .dogs {
  position: relative;
  bottom: 650px;
  height: 15px;

}

.dog-item1 {
  border: 2px solid black;
  width: 20%;
  position: relative;
  left: 140px;

}
.dog-item2 {
  border: 2px solid black;
  width: 20%;
  position: relative;
  bottom: 300px;
  left: 450px;

}
.dog-item3 {
  border: 2px solid black;
  width: 20%;
  position: relative;
  bottom: 600px;
  left: 750px;
}
.dog-item4 {
  border: 2px solid black;
  width: 20%;
  position: relative;
  bottom: 895px;
  left: 1070px;

}
.dog-item5 {
  border: 2px solid black;
  width: 20%;
  position: relative;
  bottom: 870px;
  left: 137px;

}
.dog-item6 {
  border: 2px solid black;
  width: 20%;
  position: relative;
  bottom: 1170px;
  left: 444px;

}
.dog-item7 {
  border: 2px solid black;
  width: 20%;
  position: relative;
  bottom: 1470px;
  left: 750px;

}
.dog-item8 {
  border: 2px solid black;
  width: 20%;
  position: relative;
  bottom: 1770px;
  left: 1060px;

}




h3 {
  font-weight: bold;
  font-size: 25px;
}

.adopt-button {
  border: 2px solid black;
  text-align: center;
  background-color: green;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}
/* a.visited {
  text-decoration: none;
}
a.hover {
  text-decoration: none;
}
a.active {
  text-decoration: none;
} */

img[src="/adopt-a-dog/images/header-image.jpg"]{
  width: 100%;
  height: 400px;
}

img[src="/adopt-a-dog/images/adoptadog-logo.svg"]{
  position: relative;
  bottom: 525px;
  left: 79px;
  width: 375px;
}

h1 {
  color: green;
  position: relative;
  bottom: 725px;
  left: 79px;
  width: 500px;

}

img[src="/adopt-a-dog/images/cart-icon.svg"] {
  position: relative;
  left: 1180px;
  bottom: 895px;
  width: 40px;


}

.price {
  border: 1px solid black;
  width: 60px;
  color: white;
  position: relative;
  bottom: 947px;
  left: 1233px;
}

a[href="/adopt-a-dog/Checkout.html"] {
  border: 1px solid black;
  padding: 6px;
  width: 550px;
  position: relative;
  bottom: 927px;
  left: 1165px;
  background-color: green;
  color: white;
  padding-left: 35px;
  padding-right: 30px;
}

.footerlogo img[src="/adopt-a-dog/images/adoptadog-logo-footer.svg"] {
  position: relative;
  top: 300px;
}
.seemoredogs {
  font-weight: bold;
  font-size: 25px;
  border: 2px solid black;
  color: navy;
  background-color: #E0E0E0;
  padding: 25px;
  text-align: center;
  margin-left: 550px;
  margin-right: 550px;
}

footer {
  background-color: #003568;
  margin-top: 65px;
  color: white;
  text-align: center;
  padding: 15px;
}

.foottext {
  color: white;
  position: relative;
  bottom: 150px;
  padding: 15px;
}
.foottext a {
  color: white;
}

img[src="/adopt-a-dog/images/murphy-card.jpg"] {
  width: 230px;
}

img[src="/adopt-a-dog/images/poppy-card.jpg"]{
  width: 230px;
}

img[src="/adopt-a-dog/images/jack-card.jpg"]{
  width: 230px;
}

img[src="/adopt-a-dog/images/duffy-card.jpg"]{
  width: 230px;
}
img[src="/adopt-a-dog/images/lucas-card.jpg"]{
  width: 230px;
}

img[src="/adopt-a-dog/images/jake-card.jpg"]{
  width: 230px;
}

img[src="/adopt-a-dog/images/angus-card.jpg"]{
  width: 230px;
}

img[src="/adopt-a-dog/images/violet-card.jpg"]{
  width: 230px;
}
